/* 
CS Brand Colors:
  Dark pink -- color: #a50a51
  Dark blue -- color: #0494cb
  Light blue -- color: #12b5ea
  Dark green -- color: #558920
  Light green -- color: #86af15
  Orange -- color: #ff6f0c
  Light Orange -- color: #FF9520
  Gray -- color: #636467
*/

body {
  font-family: 'Raleway';
  margin: 6px;
  color: white;
}

#all-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#col2, #col3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.square {
  margin: 0px;
}

.topline {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 65px;
  font-weight: 900;
}

.stat {
  margin: 5%;
  position: relative;
}

#communities {
  background-color: #ff6f0c;
}

.square {
  background-position: center;
  background-origin: content-box;
  background-size: 325px;
  background-repeat: no-repeat;
}

#vet-ended {
  background-color: #a50a51;
  background-image: url("assets/01-vet.png");
}

#reduction {
  background-color: #558920;
  background-image: url("assets/02-reduction.png");
}

#housed {
  background-color: #12b5ea;
  background-image: url("assets/03-housed.png");
}

#quality-data {
  background-color: #0494cb;
  background-image: url("assets/04-quality.png");
  
}

.map-tooltip {
  color: white;
  padding: 1%;
  border: solid 1px white;
  max-width: 400px;
}

#title-head {
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 700;
  font-size: 77px;
  margin: 1% 15% 0% 5%;
  line-height: 75px;
}

#subtitle-head {
  margin: 1% 15% 5% 5.5%;
}

#communities-topline {
  font-family: 'Asap Condensed', sans-serif;
  font-size: 90px;
  float: left;
}

#communities-subtitle {
  float: left;
  transform: translateY(45px);
  padding: 0% 0% 0% 3%;
}

#communities-stat {
  transform: translateY(-10px);
  margin: 1% 0% 1% 5%;
}

.stat span {
  position: absolute;
  top: 25vh;
  left: 0;
}



/* MEDIA BREAKPOINTS */

@media only screen and (max-width: 1280px) { 

  .square {
    margin: 0px;
    min-height: 45%;
    background-size: 325px;
    background-position: top;
  }

  #communities-subtitle {
    float: left;
    transform: translateY(45px);
    padding: 0% 0% 0% 3%;
  }

  #title-head {
    font-size: 55px;
  }

  #communities-subtitle {
    float: none;
    transform: translateY(45px);
    padding: 0% 0% 0% 5%;
  }

  .stat span {
    position: absolute;
    top: 20vh;
    left: 0;
  }
}


@media only screen and (max-width: 768px) { 

  .square {
    margin: 0px;
    background-position: center;
    background-size: 300px;
  }

  #title-head {
    font-size: 45px;
  }

  .topline {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 45px;
    font-weight: 900;
  }

  .subtitle, #subtitle-head {
    font-size: 12px;
  }

  #communities-topline {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 80px;
  }

  #communities-subtitle {
    float: left;
    transform: translateY(45px);
    padding: 0% 0% 0% 2%;
  }

  #subtitle-head {
    transform: translateY(-10px)
  }

  .stat span {
    position: absolute;
    top: 10vh;
    left: 0;
  }

}

@media only screen and (max-width: 475px) { 

  #all-cols {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
  }

  #rows {
    display: grid;
    grid-template-columns: 1fr;
  }

  .square {
    margin: 0px;
    min-height: 150px;
    background-position: top;
    background-size: 100%;
  }

  #communities-subtitle {
    float: left;
    transform: translateY(45px);
    padding: 0% 0% 0% 1%;
  }

  #title-head {
    font-size: 45px;
  }

  .stat span {
    position: absolute;
    top: 5vh;
    left: 0;
  }

  @media only screen and (max-width: 320px) { 

    #all-cols {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0fr 1fr;
    }
  
    #rows {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .square {
      margin: 0px;
      min-height: 150px;
      background-position: top;
      background-size: 100%;
    }
  
    #communities-subtitle {
      float: left;
      transform: translateY(0px);
      padding: 0% 0% 0% 0%;
    }
  
    #title-head {
      font-size: 45px;
    }
  
    .stat span {
      position: absolute;
      top: 5vh;
      left: 0;
    }

}